[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/containers
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/freesurfer"]
	path = sourcedata/freesurfer
	url = ./sourcedata/freesurfer
	datalad-id = 13fd2248-da73-43f7-9e2d-dd2ebc9666b1
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/raw/ds003242
	datalad-id = 1188523a-3d8d-4eb5-bc8c-601a24da1b9d
